*, *:before, *:after{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Quicksand', 'MicrosoftJhengHeiRegular',  sans-serif;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}

.wrap{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    .banner{
        width: 100%;
        height: 380px;
        padding-top: 8%; // 比稿多3.7%
        background: url('../img/Hero.png') no-repeat center center;
        display: flex;
        flex-flow: column;
        align-items: center;
        .bannerTitle{
            color: #fff;
            margin-bottom: 8.4%;
            font-size: 40px;
            font-weight: 400;
            letter-spacing: 4px;
        }
        #select-wrap{
            position: relative;
            width: 44.1%;
            select{
                appearance: none;
                width: 100%;
                height: 42px;
                padding: 0 1.7% 0 0.9%;
                border-radius: 3px;
                border: 3px solid #fff;
                background:rgba(255,255,255, .7);
                font-size: 18px;
                font-weight: 600;
                &:after{
                    height: 42px;
                }
            }
            &:after{
                content: "\25bc";
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 10px;
                line-height: 42px;
            }
        }
    }
    .hotAreaG{
        width: 78.1%;
        height: 112px;
        margin: -30px auto 50px;
        padding: 1% 2.5%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0, .2);
        .hotAreaTitle{
            margin-bottom: 16px;
        }
        .btnG-hotArea{
            margin-left: 2.5%;
            button{
                width: 130px;
                height: 42px;
                padding: 0.5% 3.3%;
                font-size: 20px;
                border-radius: 5px;
                border: none;
                color: #fff;
                margin-left: 23px;
                &:first-child{margin-left: 0;}
                &:nth-child(1){
                    background-color: #8A82CC;
                    &:hover{background-color: #6c64af; }                
                }
                &:nth-child(2){
                    background-color: #FFA782; 
                    &:hover{background-color: #e68c65; }  
                }
                &:nth-child(3){
                    background-color: #F5D005; 
                    &:hover{background-color: #daba07; }  
                }
                &:nth-child(4){
                    background-color: #559AC8; 
                    &:hover{background-color: #3b82b1; }  
                }
            }
        }
    }
    .hori{
        background-image: linear-gradient(to right, #559AC8 25%, rgba(255,255,255, 0) 0%);
        background-position: bottom;
        background-size: 10px 2px;
        background-repeat: repeat-x;
        width: 87.9%;
        height: 1px;
        margin: 0 auto 76px;
    }
    .sceneryAreaG{
        .areaTitle{
            color: #8A82CC;
            font-size: 36px;
            line-height: 43px;
            margin-bottom: 24px;
            text-align: center;
        }
        .sceneryList{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
            li{
                width: 45.3%;
                box-shadow: 0 1px 3px 0 rgba(0,0,0, .2);
                margin-bottom: 36px;     
                border-radius: 5px;  
                &:hover{box-shadow: 0 1px 8px 0 rgba(0,0,0, .2);}
                &:nth-child(even){
                    margin-left: 16px;
                }
                a{
                    text-decoration: none;
                    .titleG{
                        height: 309.48437px;
                        width: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: bottom;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        border-radius: 5px 5px 0 0;       
                        // color: #000;
                        color: #fff;
                        padding: 0 24px 14px;
                        h3{font-size: 24px;}
                        p{font-size: 16px;}
                    }
                    .infoG{
                        width: 100%;
                        padding: 15px 24px;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        .contactText{
                            display: flex;
                            flex-flow: column;
                            align-items: space-evenly;
                            p{
                                width: 320px;
                                margin-bottom: 13px;
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                &:nth-child(1)img{margin-right: 9px;}
                                &:nth-child(2) img{margin-right: 10px;}
                                &:nth-child(3){
                                    margin: 0 0 0 2px;
                                    img{margin-right: 12px;}
                                }
                            }
                        }
                        .tag{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{margin-right: 8px;}
                        }
                    }
                }
            }
        }
    }
    .btnGoTop{
        display: none;
        position: absolute;
        right: 28px;
        bottom: 195px;
    }
    footer{
        height: 90px;
        text-align: center;
        background-color: #559AC8;
        display: flex;
        flex-flow: column;
        justify-content: center;
        p:nth-child(1){
            margin-bottom: 15px;
            color: #fff;
        }
        P:nth-child(2){
            color: #FFD366;
        }
    }
}








